.wrapper{
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &.form-success{
    .container{
      h1{
        transform: translateY(85px);
      }
    }
  }
}

.container{
  max-width: 600px;
  margin: 0 auto 0 auto;
  min-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  h1{
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    margin-top: 20px;
  }
}

form{
  padding: 20px 0;
  position: relative;
  z-index: 2;

  input{
    display: block;
    appearance: none;
    outline: 0;
    border: 0px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;

    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;

    color: white;

    transition-duration: 0.25s;
    font-weight: 300;

    &:hover{
      background-color: fade(white, 40%);
    }

    &:focus{
      background-color: white;
      width: 300px;

      color: #53e3a6;
    }
  }

  button{
    display: block;
    margin: 0 auto 10px auto;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;

    &:hover{
      background-color: #eee;
    }
  }
  h1{
    margin:0,auto;
  }
}

.button{
  appearance: none;
  outline: 0;
  display: block;
  background-color: white;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px;
  color: #005631;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;

  &:hover{
    background-color: rgb(245, 247, 249);
  }

  &:active{
    color: #eee;
    background-color: #0C781F;
    transition-duration: 0s;
  }
}


.bg-bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  li{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;

    -webkit-animation: square 25s infinite;
    animation:         square 25s infinite;

    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

    &:nth-child(1){
      left: 10%;
    }

    &:nth-child(2){
      left: 20%;

      width: 80px;
      height: 80px;

      animation-delay: 2s;
      animation-duration: 17s;
    }

    &:nth-child(3){
      left: 25%;
      animation-delay: 4s;
    }

    &:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;

      animation-duration: 22s;

      background-color: fade(white, 25%);
    }

    &:nth-child(5){
      left: 70%;
    }

    &:nth-child(6){
      left: 80%;
      width: 120px;
      height: 120px;

      animation-delay: 3s;
      background-color: fade(white, 20%);
    }

    &:nth-child(7){
      left: 32%;
      width: 160px;
      height: 160px;

      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 55%;
      width: 20px;
      height: 20px;

      animation-delay: 15s;
      animation-duration: 40s;
    }

    &:nth-child(9){
      left: 25%;
      width: 10px;
      height: 10px;

      animation-delay: 2s;
      animation-duration: 40s;
      background-color: fade(white, 30%);
    }

    &:nth-child(10){
      left: 90%;
      width: 160px;
      height: 160px;

      animation-delay: 11s;
    }
  }
}


.dropzone{

  .button{
    margin: 0 auto 0 auto;
    margin-top: 25px;
    display: block;
  }

  .greenButton{
    margin: 0 auto 10px auto;
    margin-top: 25px;
    display: block;
    background-color: #005631;
    color: #fff;
    &:hover{
      background-color: #007F49;
      color: #fff;
    }

    &:active{
      color: #005631;
      background-color: #C8E6CD;
      transition-duration: 0s;
    }

  }

  input{
    display: block;
    appearance: none;
    outline: 0;
    // border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 600px;

    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
    margin-top: 25px;
    display: block;
    text-align: center;
    font-size: 17px;

    color: white;

    transition-duration: 0.25s;
    font-weight: 300;

    &:hover{
      background-color: fade(white, 40%);
    }

    &:focus{
      display: block;
      appearance: none;
      outline: 0;
      width: 600px;

      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 15px auto;
      margin-top: 25px;
      display: block;
      text-align: center;
      font-size: 17px;

      color: white;

      transition-duration: 0.25s;
      font-weight: 300;

      color: #0EC375;
    }
  }

  textarea{
    display: block;
    appearance: none;
    outline: 0;
    border: 0px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 600px;
    height:130px;

    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: left;
    font-size: 17px;
    margin-top: 20px;

    color: white;
    resize: none;

    transition-duration: 0.25s;
    font-weight: 300;

    &:hover{
      background-color: fade(white, 40%);
    }

    &:focus{
      background-color: white;
      // width: 350px;
      height: 150px;
      text-align: left;

      color: #0EC375;
    }
  }
}

.dropZoneStyle{
  height: 400px;
  width: 600px;

  p{
    cursor: pointer;
  }
}

.dropZoneContent{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height:100%;
}

.errorMessage{
  color: #800000;
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.5);
  padding:10px 0;
  border-radius: 5px;
  margin: 10px 0 ;
  top:5px;
  position:static;
  width:600px;
}

.imagePreview{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  z-index: 3;
  padding: 5px;
  background-color: #fff;
}

.emptyMessage{
  margin: 50px auto;
}

.viewContainer{
  h2{
    font-size: 20px;
    }
    margin-top: 20px;
}

.instaImage{
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 450px;
  border: 4px solid #333;
  margin: 50px 0 30px 0;

}

.imageContainer{
  margin: 20px auto 40px auto;
  padding-bottom: 20px;
  width: 600px;
  background-color:#fff;
  color: #333;

  .instaDescr{
    font-size: 18px;
    margin: 10px 40px;
    text-align: left;
  }

  .username{
    font-size: 18px;
    font-weight: 600;
  }

  .instaTitle{
    font-size: 25px;
    font-weight: 500;

  }
}

ul{
  list-style-type: none;
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}

@media (max-width: 700px) {
   /* PUT CSS HERE TO ALTER WEBSITE TO SINGLE COLUMN */
}
